.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  .container-faq {
    display: flex;
    justify-content: space-between;
    width: 85%;

    .text-faq {
      * {
        margin: 2vh 0;
      }
      h2 {
        font-size: 3.8vh;
        font-weight: bold;
      }
      p {
        font-size: 2.3vh;
      }
    }

    .accordion {
      width: 55%;
      .accordion-item {
        margin: 2vh 0;
        border: 1px solid rgba(0, 0, 0, 0.125);
        .accordion-button {
          font-size: 2.1vh;
          padding: 2vh 2vw;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .container-faq {
    flex-direction: column;
    .text-faq {
      text-align: center;
    }
    .accordion {
      width: 100% !important;
      .accordion-button {
        font-size: 2.5vh !important;
        line-height: 20px;
      }
    }
  }
}
