footer {
  display: flex;
  justify-content: center;
  padding: 8vh 0;
  .container-footer {
    display: flex;
    width: 85%;
    font-size: 2.1vh;
    column-gap: 4vw;
    .button {
      font-weight: bold;
    }
    .social-media {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 991px) {
  .container-footer {
    flex-direction: column;
    row-gap: 2.5vh;
    font-size: 2.7vh !important;
    .social-media {
      img {
        width: 40vw;
      }
    }
  }
}
